html,body{
	margin:0px;
	font-family: 'Lato', sans-serif;
}
.be-red{
	background-color:#E74C3C;
}
.no-margin{
	margin:0px;
}

#logo{
	font-size: 1.2em;
}

.white{
	color:white;
}

.large_padding{
	padding: 10px 7px;
}

a:visited{
	color:inherit !important;
	text-decoration:none;
}
ul{
	list-style:none;
	
}